@model IEnumerable<PROLINSA_SISTEMA.Cargos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cargos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", new { @class = "btn btn-success" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IDCargo }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Detalles", "Details", new { id = item.IDCargo }, new { @class = "btn btn-info" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IDCargo }, new { @class = "btn btn-danger" })

        </td>
    </tr>
}

</table>
