@model IEnumerable<PROLINSA_SISTEMA.TipoFactura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cotizacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cotizacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTipoFactura }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTipoFactura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTipoFactura })
        </td>
    </tr>
}

</table>
