@model PROLINSA_SISTEMA.EMPLEADOS

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de que quieres eliminar este?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido_Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido_Empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula_Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula_Empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion_Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion_Empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salario_Empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salario_Empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargos.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargos.Cargo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
