@model PROLINSA_SISTEMA.DetalleProducto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DetalleProducto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaisProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedores.NombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedores.NombreProveedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProducto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
