@model PROLINSA_SISTEMA.Categorias

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Esta seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Categorias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_Categoria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
            @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
